
address, article, aside,
blockquote, body,
center,
dd, details, dir, div, dl, dt,
figcaption, fieldset, figure, footer, form, frame, frameset,
h, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html,
main, marquee, menu,
nav,
ol,
p, pre,
section, summary,
ul,
xmp
[display=block] {
  display: block;
}

applet, audio,
button,
canvas,
embed,
iframe, image, img, input, isindex,
meter,
object,
picture, progress,
select,
textarea,
video,
[display=inline-block] {
  display: inline-block;
}

base, basefont,
datalist, dialog,
head,
keygen,
link,
meta,
nextid,
param,
rp,
script, source, style,
template, title, track,
[display=none] {
  display: none;
}

caption,
[display=caption] {
  display: table-caption;
}

col,
[display=col] {
  display: table-column;
}

colgroup,
[display=colgroup] {
  display: table-column-group;
}

li,
[display=list-item] {
  display: list-item;
}

rb {
  display: ruby-base;
}

rbc {
  display: ruby-base-container;
}

rt {
  display: ruby-text;
}

rtc {
  display: ruby-text-container;
}

ruby {
  display: ruby;
}

table,
[display=table] {
  display: table;
}

tbody,
[display=table-row-group] {
  display: table-row-group;
}

td,
th,
[display=table-cell] {
  display: table-cell;
}

tfoot,
[display=table-footer-group] {
  display: table-footer-group;
}

thead,
[display=table-header-group] {
  display: table-header-group;
}

tr,
[display=table-row] {
  display: table-row;
}
