* {
  font-family: inherit;
  font-size: 1em;
  font-style: inherit;
  font-weight: inherit;
}

abbr, acronym {
  font-variant: small-caps;
  font-variant-caps: all-small-caps;
}

b, optgroup, strong {
  font-weight: bold;
}

big {
  font-size: 2em;
  line-height:.75;
}

cite, dfn, em, i, var {
  font-style: italic;
}

code, kbd, pre, samp, tt {
  font-family: monospace, sans-serif;
}

h, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif, serif;
}

html, :root {
  font: normal 100%/1.5 serif, sans-serif;
  hyphens: auto;
  text-rendering: optimizeLegibility;
}

p {
  text-indent: 2em;
}

:not(p) + p,
p:first-child,
p:first-of-type {
    text-indent: 0;
}

small, sub, sup {
  font-size: 75%;
}
